<form
	class="change-form center-block m-t-lg"
	(ngSubmit)="submit()"
	#change="ngForm"
	novalidate>
	<label for="email" class="sr-only">Email</label>
	<input
		type="email"
		class="form-control change-form-email"
		id="email"
		name="email"
		ngControl="email"
		[(ngModel)]="credentials.email"
		[disabled]="isChanging"
		placeholder="Email"
		autocomplete="off"
		required>
	<label for="old-password" class="sr-only">Current Password</label>
	<input
		type="password"
		class="form-control change-form-oldpassword"
		id="old-password"
		name="oldPassword"
		ngControl="oldPassword"
		[(ngModel)]="credentials.oldPassword"
		[disabled]="isChanging"
		placeholder="Current Password"
		autocomplete="off"
		required>
	<label for="new-password" class="sr-only">New Password</label>
	<input
		type="password"
		class="form-control change-form-newpassword"
		id="new-password"
		name="newPassword"
		ngControl="newPassword"
		[(ngModel)]="credentials.newPassword"
		[disabled]="isChanging"
		placeholder="New Password"
		autocomplete="off"
		required>
	<input
		type="password"
		class="form-control change-form-retypenewpassword"
		id="retype-new-password"
		name="retypeNewPassword"
		ngControl="retypeNewPassword"
		[disabled]="isChanging"
		placeholder="Retype New Password"
		autocomplete="off"
		required
		equalTo="newPassword">
	<button
		type="submit"
		class="btn btn-block btn-primary"
		[disabled]="!change.form.valid || isChanging">
		Change Password
	</button>
	<div class="text-right">
		<a [routerLink]="['/Todos']">
			Back
		</a>
	</div>
</form>

<div
	*ngIf="!change.form.valid && change.form.dirty"
	class="alert alert-danger center-block"
	role="alert">
	There seems to be some errors in the form.
	<ul>
		<li *ngIf="change.form.hasError('required', 'oldPassword')">Current password is required.</li>
		<li *ngIf="change.form.hasError('required', 'newPassword')">A new password is required.</li>
		<li *ngIf="change.form.hasError('equalTo', 'retypeNewPassword')">Please make sure the new password and retyped new password are the same.</li>
		<li *ngIf="change.form.hasError('required', 'retypeNewPassword')">Please retype your new password.</li>
	</ul>
</div>

<div
	*ngIf="isChangeAttemptFailed"
	class="alert alert-danger center-block"
	role="alert">
	{{ error || 'Could not change your password, try again later.' }}
</div>

<div
	*ngIf="isChangeAttemptSuccessful"
	class="alert alert-success center-block"
	role="alert">
	Successfuly changed your password.
</div>
