<style>

	.task {
		display: block;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0;
		list-style: none;
	}

	.task > li,
	.task-controls > li {
		display: inline-block;
	}

	.task > li:not(:first-child) {
		padding-left: 5px;
	}

	.task > li:not(:last-child) {
		padding-right: 5px;
	}

	.task-controls {
		display: block;
		padding-left: 0;
		list-style: none;
	}

	.task-controls > li:not(:first-child) {
		padding-left: 2.5px;
	}

	.task-controls > li:not(:last-child) {
		padding-right: 2.5px;
	}

</style>

<ul class="task" [control-group]="task">
	<li><input name="status" type="checkbox" control="status" [checked]="chore.completed"></li>
	<li>{{chore.desc}}</li>
	<li><input type="text" control="desc"></li>
	<li>
		<ul class="task-controls">
			<!-- <li><button (click)="move($event, 1)">&#8676;</button></li>
			<li><button (click)="move($event, -1)">&#8677;</button></li> -->
			<li><button (click)="remove($event)">&times;</button></li>
		</ul>
	</li>
</ul>