<style>

	.task {
		display: block;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0;
		list-style: none;
	}

	.task > li,
	.task-controls > li {
		display: inline-block;
	}

	.task > li:not(:first-child) {
		padding-left: 5px;
	}

	.task > li:not(:last-child) {
		padding-right: 5px;
	}

	.task-controls {
		display: block;
		padding-left: 0;
		list-style: none;
	}

	.task-controls > li:not(:first-child) {
		padding-left: 2.5px;
	}

	.task-controls > li:not(:last-child) {
		padding-right: 2.5px;
	}

</style>

<ul class="task">
	<li>{{chore.desc}}</li>
	<li>
		<ul class="task-controls">
			<li><button (click)="remove($event)">&times;</button></li>
		</ul>
	</li>
</ul>