/**
 * Host Element (<checkbox>)
 */

:host,
checkbox {
	display: inline-block;
	cursor: pointer;
	outline: none;
	user-select: none;
	width: 24px;
	height: 24px;
}


/**
 * Base
 */

.box {
	display: block;
	color: #90a4ae;
	transition: color .125s ease-in-out;
}


/**
 * States
 */

:host([disabled]),
checkbox[disabled] {
	cursor: no-drop;
}

:host(:focus:not([aria-checked="true"])) > .box,
checkbox:focus:not([aria-checked="true"]) > .box,
:host(:hover:not([aria-checked="true"])) > .box,
checkbox:hover:not([aria-checked="true"]) > .box {
	color: #a5d6a7;	
}

:host([aria-checked="true"]) > .box,
checkbox[aria-checked="true"] > .box {
	color: #4caf50;
}