@import "../../vars";
@import "../../mixins";


// Host Element (<checkbox>)
:host {
	display: inline-block;
	cursor: pointer;
	outline: none;
	user-select: none;
	@include square(24px);
}


// Box
.box {
	display: block;
	color: $grey;
	transition: color .125s ease-in-out;
}


// States

:host[disabled] {
	cursor: no-drop;
}

:host {

	&:focus,
	&:hover {
		&:not([aria-checked="true"]) {

			& > .box {
				color: $success;
			}
		}
	}
}

:host[aria-checked="true"] {

	& > .box {
		color: $success;
	}
}