@import "../../vars";
@import "../../mixins";


// Host Element (<todos>)
:host {
	display: block;
}

// Base
.todos-form,
todo-list {
	max-width: 450px;
}

// Todo Form
.todos-form {
	padding-top: 80px;
	padding-bottom: 40px;
	
	button {
		display: inline-block;
		@include square(50px);
		border: 1px solid $blue;
		border-radius: 50%;
		background: transparent;
		color: $blue;
		outline: none;
		
		&:disabled {
			cursor: not-allowed;
			opacity: .45;
		}
		
		&:focus,
		&:hover {
			
			&:not(:disabled) {
				background-color: $blue;
				color: $white;
			}
		}
	}
}

// Navigation
.nav {
	position: fixed;
	top: 20px;
	right: 20px;
	
	li:first-of-type {
		padding-right: 16px;
	}
}