/* Host Element (<todos>) */
:host,
todos {
	display: block;
}

.todos-form,
.todos-list,
.logo {
	max-width: 450px;
}

/* Logo */

.logo > ng2-logo {
	-webkit-transform: scale3d(.5,.5,.5);
			transform: scale3d(.5,.5,.5);
}


/* Todos */

.todos-form {
	padding-bottom: 40px;
}

.list-group-item:first-of-type {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.todos-form button {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #0275d8;
	border-radius: 50%;
	background: transparent;
	color: #0275d8;
	outline: none;
}

.todos-form button:disabled {
	cursor: not-allowed;
	opacity: .45;
}

.todos-form button:focus:not(:disabled),
.todos-form button:hover:not(:disabled) {
	background-color: #0275d8;
	color: #fff;
}


/* Navigation */
.nav {
	position: fixed;
	top: 20px;
	right: 20px;
}