/* Host Element (<register>) */
:host,
login {
	display: block;
}


/* Form */

.register-form,
.alert {
	max-width: 350px;
}

.register-form-email,
.register-form-password {
	position: relative;
}

.register-form-email {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: -1px;
}

.register-form-email:focus {
	z-index: 2;
}

.register-form-password {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 5px;
}

.btn {
	margin-top: 20px;
}