/**
 * Host Element (<app>)
 */

:host,
app {
	position: relative;
	display: block;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	transition: width .075s ease-in-out;
	transform: translate3d(0,0,0);
}

@media (max-width: 599px) {
	
	:host,
	app {
		width: 85vw; 
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	
	:host,
	app {
		width: 55vw; 
	}
}

@media (min-width: 960px) and (max-width: 1199px) {
	
	:host,
	app {
		width: 40vw; 
	}
}

@media (min-width: 1200px) {
	
	:host,
	app {
		width: 35vw; 
	}
}


/**
 * Base
 */

:host > .visible,
app > .visible {
	animation: in .5s ease-in;
	animation-fill-mode: forwards;
	animation-delay: .65s;
}


/**
 * Header
 */
 
.header {
	padding-top: 160px;
}


/**
 * Main
 */
 
.main {
	padding-top: 20px;
	padding-bottom: 20px;
	opacity: 0;
}


/**
 * Logo
 */

.logo {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -83px;
	margin-left: -88px;
	opacity: 0;
	backface-visibility: hidden;
	perspective: 1000;
	pointer-events: none;
}


/**
 * Steps
 */

.js-unfix {
	position: absolute;
	top: 0;
	margin-top: 0;
	opacity: 1;
	transform: scale3d(.5,.5,.5);
	pointer-events: auto;
}

.js-in {
	animation: in .125s ease-in;
	animation-fill-mode: forwards;
}

.js-opaque {
	opacity: 1;
}

.js-move {
	animation: move .65s ease-in-out;
	animation-fill-mode: forwards;
}

.js-npe {
	position: fixed;
	left: 0;
	pointer-events: none;
}


/**
 * MQ Reference
 */

/** SMALL SCREEN */
@media (max-width: 599px) {}
/** BIGGER THAN SMALL SCREEN */
@media (min-width: 600px) {}
/** MEDIUM SCREEN */
@media (min-width: 600px) and (max-width: 959px) {}
/** BIGGER THAN MEDIUM SCREEN */
@media (min-width: 960px) {}
/** LARGE SCREEN */
@media (min-width: 960px) and (max-width: 1199px) {}
/** BIGGER THAN LARGE SCREEN */
@media (min-width: 1200px) {}


/**
 * Animations
 */

@keyframes move {
	
	from {
		-webkit-transform: scale3d(1,1,1);
				transform: scale3d(1,1,1);
	}
	
	to {
		top: 0;
		margin-top: 0;
		-webkit-transform: scale3d(.5,.5,.5);
				transform: scale3d(.5,.5,.5);
	}
}

@keyframes in {
	
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}