/**
 * Host Element (<app>)
 */
 
:host {
	display: block;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	transition: width .075s ease-in-out;
}

@media (max-width: 599px) {
	
	:host {
		width: 85vw; 
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	
	:host {
		width: 55vw; 
	}
}

@media (min-width: 960px) and (max-width: 1199px) {
	
	:host {
		width: 40vw; 
	}
}

@media (min-width: 1200px) {
	
	:host {
		width: 35vw; 
	}
}


/**
 * Base
 */

:host > .hidden {
	opacity: 0;
}

:host > .visible {
	animation: in .5s ease-in;
	animation-fill-mode: forwards;
}


/**
 * Header
 */
 
.header {
	padding-top: 160px;
}


/**
 * Main
 */
 
.main {
	opacity: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	animation-delay: .65s;
}


/**
 * MQ Reference
 */

/** SMALL SCREEN */
@media (max-width: 599px) {}
/** BIGGER THAN SMALL SCREEN */
@media (min-width: 600px) {}
/** MEDIUM SCREEN */
@media (min-width: 600px) and (max-width: 959px) {}
/** BIGGER THAN MEDIUM SCREEN */
@media (min-width: 960px) {}
/** LARGE SCREEN */
@media (min-width: 960px) and (max-width: 1199px) {}
/** BIGGER THAN LARGE SCREEN */
@media (min-width: 1200px) {}


/**
 * Animations
 */

@keyframes in {
	
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}