/* Host Element (<dashboard>) */
:host {
	display: block;
	height: 100vh;
}


/* Outlet */
.dashboard-outlet {
	padding: 8px;
	background-color: #f1f1f1;
	height: calc(100vh - 64px);
	box-sizing: border-box;
}


/* Navigation */
.nav [md-icon-button] {
	padding: 8px;
	color: #fff;
}

.dashboard [md-list-item] span {
	margin-left: 16px;
}


/* Sidenav */
.dashboard {
	height: 100vh;
}

.dashboard md-sidenav {
	width: 280px;
}
