/* Host Element (<dashboard>) */
:host {
	display: block;
	height: 100vh;
}


/* Sidenav */
md-sidenav-layout {
	height: 100vh;
}

md-sidenav {
	width: 280px;
}


/* Navigation */
.nav [md-icon-button] {
	padding: 8px;
	color: #fff;
}
