/* Host Element (<dashboard>) */
:host {
	display: block;
	height: 100vh;
}


/* Sidenav */
md-sidenav-layout {
	height: 100vh;
}

md-sidenav {
	width: 280px;
}


/* Base */
.todos-form,
todo-list {
	max-width: 400px;
}


/* Form */
.todos-form {
	padding-top: 80px;
	padding-bottom: 40px;
}

.todos-form [md-mini-fab] glyph {
	display: inline;
}


/* Navigation */
.nav [md-icon-button] {
	padding: 8px;
	color: #fff;
}
