<md-sidenav-layout>
	<md-sidenav mode="side" opened="true" #start>
		<md-toolbar color="primary" class="nav">
			<span>NG2 Laboratory</span>
		</md-toolbar>
	</md-sidenav>

	<md-toolbar color="primary" class="nav">
		<span class="fill-remaining-space"></span>
		<todos-count></todos-count>
		<a md-icon-button [routerLink]="['./Account']" aria-label="Account">
			<i class="material-icons md-24">dashboard</i>
		</a>
		<a md-icon-button (click)="logout($event)" aria-label="Logout">
			<i class="material-icons md-24">lock</i>
		</a>
	</md-toolbar>

	<main>
		<router-outlet></router-outlet>
	</main>
</md-sidenav-layout>
