<md-sidenav-layout class="dashboard">
	<md-sidenav mode="side" opened="true" #start>
		<md-toolbar color="primary" class="nav">
			<span>NG2 Laboratory</span>
		</md-toolbar>

		<md-nav-list>
			<h3 md-subheader>Dashboard</h3>
			<a md-list-item [routerLink]="['./Account']">
				<i class="material-icons">person</i>
				<span>Account</span>
			</a>
		</md-nav-list>
	</md-sidenav>

	<md-toolbar color="primary" class="nav">
		<span class="fill-remaining-space"></span>
		<todos-count></todos-count>
		<a md-icon-button (click)="logout($event)" aria-label="Logout">
			<i class="material-icons md-24">lock</i>
		</a>
	</md-toolbar>

	<main class="dashboard-outlet">
		<router-outlet></router-outlet>
	</main>
</md-sidenav-layout>
