/* Host Element (<dashboard>) */
:host {
	display: block;
	height: 100vh;
}


/* Sidenav */
.dashboard {
	height: 100vh;
}

.dashboard md-sidenav {
	width: 280px;
}


/* Navigation */
.nav [md-icon-button] {
	padding: 8px;
	color: #fff;
}

.dashboard md-list-item {
	cursor: pointer;
}

.dashboard md-list-item i {
	line-height: 40px;
}
