/* Host Element (<login>) */
:host {
	display: block;
}


/* Form */
.login-form {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}


/* Fields */
.login-fields {
	margin-bottom: 8px;
}

.login-fields md-input {
	width: calc(50% - 2px);
}

.login-fields md-input:first-of-type {
	margin-right: 2px;
}

.login-fields md-input:last-of-type {
	margin-left: 2px;
}


/* Actions */
.login-actions {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 0;
	list-style: none;
}

.login-actions > li {
	display: inline-block;
	vertical-align: middle;
}

.login-actions > li:not(:first-child) {
	padding-left: 4px;
}

.login-actions > li:not(:last-child) {
	padding-right: 4px;
}

.login-actions [md-icon-button] {
	padding: 8px;
}
