<md-card class="login-form">
	<md-card-content>
		<form #login="ngForm"
			  (ngSubmit)="loginWithCredentials()"
			  novalidate>
			<div class="login-fields clearfix">
				<md-input type="email"
						  ngControl="email"
						  [(ngModel)]="credentials.email"
						  [disabled]="isAuthenticating"
						  placeholder="Email"
						  class="pull-left"
						  required></md-input>
				<md-input type="password"
						  ngControl="password"
						  [(ngModel)]="credentials.password"
						  [disabled]="isAuthenticating"
						  placeholder="Password"
						  class="pull-left"
						  required></md-input>
			</div>

			<div class="clearfix">
				<md-checkbox ngControl="remember" [(ngModel)]="remember" class="pull-left">
					Remember me
				</md-checkbox>
				<a [routerLink]="['../Reset']" class="pull-right">
					Forgot your password?
				</a>
			</div>

			<ul class="login-actions">
				<li>
					<button type="submit" md-raised-button color="primary" [disabled]="!login.form.valid || isAuthenticating">
						Login
					</button>
				</li>
				<li>or</li>
				<li>
					<a md-icon-button href="#" (click)="loginWithGithub()" aria-label="Login with Github">
						<glyph src="assets/glyphs/github.svg"></glyph>
					</a>
				</li>
				<li>
					<a md-icon-button color="accent" href="#" (click)="loginWithGoogle()" aria-label="Login with Google">
						<glyph src="assets/glyphs/google.svg"></glyph>
					</a>
				</li>
			</ul>

			<div>
				<small>
					Don't have a Google or Git account?
					<a [routerLink]="['../Register']">
						Signup
					</a>
				</small>
			</div>
		</form>
	</md-card-content>
</md-card>

<div
	*ngIf="isAuthenticationFailed"
	class="alert alert-danger center-block"
	role="alert">
	The credentials are incorrect.
</div>
