/* Host Element (<register>) */
:host {
	display: block;
}


/* Form */
.register-form {}


/* Fields */
.register-fields {
	margin-bottom: 8px;
}

.register-fields md-input {
	width: calc(50% - 2px);
}

.register-fields md-input:first-of-type {
	margin-right: 2px;
}

.register-fields md-input:last-of-type {
	margin-left: 2px;
}
