<md-card class="register-form">
	<md-card-content>
		<form #register="ngForm"
			  (ngSubmit)="submit()"
			  novalidate>
			<div class="register-fields">
				<md-input type="email" ngControl="email" [(ngModel)]="credentials.email" [disabled]="isRegistering" placeholder="Email" class="pull-left" required userAvailability></md-input>
				<md-input type="password"
						  ngControl="password"
						  [(ngModel)]="credentials.password"
						  [disabled]="isRegistering"
						  placeholder="Password"
						  class="pull-left"
						  required></md-input>
			</div>

			<div class="clearfix">
				<button type="submit"
						md-raised-button
						color="primary"
						[disabled]="!register.form.valid || isRegistering"
						class="pull-right">
					Register
				</button>

				<div class="pull-left">
					<a [routerLink]="['../Login']">Back</a>
				</div>
			</div>
		</form>
	</md-card-content>
</md-card>

<div
	*ngIf="register.form.hasError('userAvailability', 'email')"
	class="alert alert-danger center-block"
	role="alert">
	Sorry, but it looks like the email you are trying to register has already been registered.
	<a [routerLink]="['../Reset']">Forgot your password?</a>
</div>

<div
	*ngIf="isRegistrationFailed"
	class="alert alert-danger center-block"
	role="alert">
	{{ error || 'The registration, please try again later.' }}
</div>
