/* Host Element (<todos>) */
:host {
	display: block;
	border-radius: 50%;
	margin: 8px;
	width: 24px;
	height: 24px;
	background-color: #fff;
	text-align: center;
	line-height: 1;
}

/* Count */
.count {
	display: inline-block;
	color: dimgray;
	font-size: 14px;
}
