// Propeller colour palette

$primary-light:			#FFDD00;
$secondary-light: 		#FFE433;
$third-light:			#FFEB66;

$primary-dark:			#252839;
$secondary-dark: 		#3A3D4C;
$third-dark: 			#515361;

$black:					#000;
$grey: 					#9B9B9B;
$secondary-grey: 		#677077;
$third-grey: 			#B5B5B7;

$warning: 				#ea4335;
$success: 				#4caf50;

$white: 				#fff;

$font-family: Helvetics, 'Helvetica', sans-serif;