<h1>Login</h1>

<form
	class="login-form"
	#login="form"
	(ng-submit)="submit()"
	novalidate>
	<div class="login-form-email">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" ng-control="email" [(ng-model)]="credentials.email" placeholder="Email" autocomplete="off" required>
	</div>
	<div class="login-form-password">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" ng-control="password" [(ng-model)]="credentials.password" placeholder="Password" autocomplete="off" required>
	</div>
	<div class="login-form-submit">
		<button type="submit" [disabled]="!login.form.valid || isAuthenticating">
			Login
		</button>
	</div>
</form>

<a [router-link]="['/Register']">Signup</a>
<a [router-link]="['../Reset']">Reset Password</a>

<div *ng-if="isAuthenticationFailed">The credentials are incorrect.</div>
<div *ng-if="isAuthenticating">Trying to authenticate ...</div>