@import "../../vars";
@import "../../mixins";


// Host Element (<login>)
:host {
	display: block;
}

// Form

.login-form,
.alert {
	max-width: 300px;
}

.login-form-email,
.login-form-password {
	position: relative;
}

.login-form-email {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: -1px;
	
	&:focus {
		z-index: 2;
	}
}

.login-form-password {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 5px;
}


// Buttons

.list-inline {
	
	& > li {
		vertical-align: middle;
	}
	
	a {
		display: block;
		color: $grey;
		
		&:hover,
		&:focus {
			color: $blue;
		}
	}
}

glyph {
	@include square(38px);
}