<form
	class="login-form center-block"
	#login="ngForm"
	(ngSubmit)="loginWithCredentials()"
	novalidate>
	<label for="email" class="sr-only">Email</label>
	<input type="email" class="login-form-email form-control" id="email" name="email" ngControl="email" [(ngModel)]="credentials.email" [disabled]="isAuthenticating" placeholder="Email" autocomplete="off" required>
	<label for="password" class="sr-only">Password</label>
	<input type="password" class="login-form-password form-control" id="password" name="password" ngControl="password" [(ngModel)]="credentials.password" [disabled]="isAuthenticating" placeholder="Password" autocomplete="off" required>
	<div class="clearfix">
		<small class="checkbox pull-left">
			<label for="remember">
				<input type="checkbox" id="remember" name="remember" ngControl="remember" [(ngModel)]="remember"> Remember me
			</label>
		</small>
		<small class="pull-right">
			<a [routerLink]="['../Reset']">Forgot your password?</a>
		</small>
	</div>
	<ul class="list-inline">
		<li>
			<button type="submit" class="btn btn-primary" [disabled]="!login.form.valid || isAuthenticating">
				Login
			</button>
		</li>
		<li>or</li>
		<li>
			<a href="#" (click)="loginWithGithub()">
				<glyph src="assets/glyphs/github.svg"></glyph>
			</a>
		</li>
		<li>
			<a href="#" (click)="loginWithGoogle()">
				<glyph src="assets/glyphs/google.svg"></glyph>
			</a>
		</li>
	</ul>
	<div>
		<small>
			Don't have a Google or Git account?
			<a [routerLink]="['../Register']">
				Signup
			</a>
		</small>
	</div>
</form>

<div
	*ngIf="isAuthenticationFailed"
	class="alert alert-danger center-block"
	role="alert">
	The credentials are incorrect.
</div>