/* Host Element (<login>) */
:host,
login {
	display: block;
}

/* Form */

.login-form,
.alert {
	max-width: 350px;
}

.login-form-email,
.login-form-password {
	position: relative;
}

.login-form-email {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: -1px;
}

.login-form-email:focus {
	z-index: 2;
}

.login-form-password {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 5px;
}

.btn {
	margin-top: 8px;
}