<mat-sidenav-container fxFlexFill>
    <mat-sidenav [mode]="mode"
        [fixedInViewport]="true"
        #sidenav
        class="mat-elevation-z2">
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <button mat-icon-button (click)="navigate(['/'])" class="rj-margin-right">
                    <mat-icon>home</mat-icon>
                </button>
                <span>Angular Lab</span>
            </div>
        </mat-toolbar>

        <mat-nav-list>
            <h3 mat-subheader>Navigation</h3>
            <a mat-list-item (click)="navigate(['/'])">
                <mat-icon mat-list-icon>home</mat-icon>
                <span mat-line>Home</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <div fxLayout="column" fxFlexFill>
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <button (click)="sidenav.toggle()" mat-icon-button class="rj-margin-right">
                    <mat-icon>menu</mat-icon>
                </button>
                <rj-view-title></rj-view-title>
                <span fxFlex></span>
                <button *rjUnlessAuth routerLink="/login" mat-button>
                    Login
                </button>
                <button *rjIfAuth mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button routerLink="/account" mat-menu-item>
                        <mat-icon>person</mat-icon>
                        Account
                    </button>
                    <button (click)="logout()" mat-menu-item>
                        <mat-icon>lock</mat-icon>
                        Logout
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>

        <div class="content">
            <div fxLayout="column" fxFlex>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>
