@import "../core/mixins";
@import "../core/variables";

:host {
    @include fullscreen;
}

mat-sidenav {
    width: 250px;
}
mat-sidenav-container {
    flex: 1;
}

.content {
    // Each magic number is from <mat-toolbar> height,
    // which is different depending on the viewport width.
    height: calc(100vh - 64px);
    @media (max-width: $breakpoint-screen-xs) {
        height: calc(100vh - 56px);
    }
}
