@import "../core/mixins";
@import "../core/variables";
:host {
    @include fullscreen;
}

md-sidenav-container {
    flex: 1;
}

md-sidenav {
    width: 250px;
}


.content {
    // Each magic number is from <md-toolbar> height,
    // which is different depending on the viewport width.
    height: calc(100vh - 64px);
    @media (max-width: $breakpoint-screen-xs) {
        height: calc(100vh - 56px);
    }
}
