<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid container-fluid-spacious">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-emphasized" href="../index.html">
                <span class="icon icon-leaf navbar-brand-icon"></span> Propeller
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../order-history/index.html">Order History</a>
                </li>
                <li class="active">
                    <a href="../fluid/index.html">Fluid layout</a>
                </li>
                <li>
                    <a href="../icon-nav/index.html">Icon nav</a>
                </li>
                <li>
                    <a href="../docs/index.html">
		  Docs
		</a>
                </li>
                <li>
                    <a href="../light/index.html">Light UI</a>
                </li>
            </ul>
            <form class="form-inline navbar-form navbar-right">
                <div class="input-with-icon">
                    <input class="form-control" type="text" placeholder="Search...">
                    <span class="icon icon-magnifying-glass"></span>
                </div>
            </form>
        </div>
    </div>
</nav>
