@import "../../vars";
@import "../../mixins";


// Host Element (<todo-list-item>)
:host {
	display: block;
}


// Cell

.todo-cell {
	position: relative;
	display: block;
}

.todo-cell-control,
.todo-cell-content,
.todo-cell-av {
	display: block;
	float: left;
}


// Control
.todo-cell-control {
	width: 24px;
}


// Content

.todo-cell-content {
	position: relative;
	display: block;
	height: 24px;
	padding-right: 12px;
	padding-left: 12px;
	width: calc(100% - (24px + 56px));
}

.todo-cell-content-input {
	display: none;
	
	& input {
		border-width: 0;
		padding: 0;
		outline: none;
	}
	
	.js-edit-mode & {
		display: block;
	}
}

.todo-cell-content-text {
	position: absolute;
	top: 0;
}


// Accessory View (Edit/Delete)

.todo-cell-av {
	width: 56px;
	font-size: 0;
	transition: opacity .125s ease-in-out;
	z-index: 0;
	
	li {
		display: inline-block;
	}
	
	a {
		display: block;
		color: $grey;
		transition: color .125s ease-in-out;
		cursor: pointer;
	}
	
	.js-complete & {
		opacity: 0;
		pointer-events: none;
		z-index: -2;
	}
}

.todo-cell-av-edit {
	padding-right: 4px;
	
	&:hover,
	&:focus {
		color: $blue !important;
	}
}

.todo-cell-av-delete {
	padding-left: 4px;
	
	&:hover,
	&:focus {
		color: $red !important;
	}
}


// Status

.todo-cell-status {
	position: absolute;
	right: 0;
	opacity: 0;
	transition: opacity .125s ease-in-out;
	z-index: -2;
	
	.js-complete & {
		opacity: 1;
		transition-delay: .150s;
		z-index: 0;
	}
}