/* Host Element (<checkbox>) */
:host {
	display: inline-block;
	cursor: pointer;
	outline: none;
	user-select: none;
	width: 24px;
	height: 24px;
}


/* Box */
.box {
	display: block;
	color: lightgrey;
	transition: color .125s ease-in-out;
}


/* States */

:host[disabled] {
	cursor: no-drop;
}

:host:focus:not([aria-checked="true"]) > .box,
:host:hover:not([aria-checked="true"]) > .box {
	color: forestgreen;
}

:host[aria-checked="true"] > .box {
	color: forestgreen;
}
