<h1>Change Password</h1>

<form
	class="change-form"
	#change="form"
	(ng-submit)="submit()"
	novalidate>
	<div class="change-form-email">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" ng-control="email" [(ng-model)]="credentials.email" placeholder="Email" autocomplete="off" required>
	</div>
	<div class="change-form-oldpassword">
		<label for="old-password">Old Password</label>
		<input type="password" id="old-password" name="oldPassword" ng-control="oldPassword" [(ng-model)]="credentials.oldPassword" placeholder="Old Password" autocomplete="off" required>
	</div>
	<div class="change-form-newpassword">
		<label for="new-password">New Password</label>
		<input type="password" id="new-password" name="newPassword" ng-control="newPassword" [(ng-model)]="credentials.newPassword" placeholder="New Password" autocomplete="off" required>
	</div>
	<div class="change-form-submit">
		<button type="submit" [disabled]="!change.form.valid || isChanging">
			Change Password
		</button>
	</div>
</form>

<a [router-link]="['/Login/Home']">Login</a>
<a [router-link]="['/Register']">Signup</a>

<div *ng-if="isChangeAttemptFailed">
	{{ error || 'Could not change your password, try again later.' }}
</div>
<div *ng-if="isChanging">Trying to change your password ...</div>