/* Host Element (<glyph>) */
:host,
glyph {
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	fill: currentColor;
	color: inherit;
}

/* SVG */
:host > svg,
glyph > svg {
	pointer-events: none;
	display: block;
}