/**
 * Host Element (<todo-item>)
 */

:host,
todo-item {
	display: block;
}


/**
 * Cell
 */

.todo-cell {
	position: relative;
	display: table;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	table-layout: fixed;
}

.todo-cell-control,
.todo-cell-content {
	display: table-cell;
	vertical-align: middle;
	height: 58px;
	background-color: #fff;
}

:host(:first-of-type) .todo-cell-control,
todo-item:first-of-type .todo-cell-control {
	border-top-left-radius: 3px;
}

:host(:first-of-type) .todo-cell-content,
todo-item:first-of-type .todo-cell-content {
	border-top-right-radius: 3px;
}

:host(:last-of-type) .todo-cell-control,
todo-item:last-of-type .todo-cell-control {
	border-bottom-left-radius: 3px;
}

:host(:last-of-type) .todo-cell-content,
todo-item:last-of-type .todo-cell-content {
	border-bottom-right-radius: 3px;
}


/**
 * Control
 */

.todo-cell-control {
	width: 58px;
	text-align: center;
}

.todo-cell-control > checkbox {
	margin-right: 8px;
	margin-left: 8px;
}


/**
 * Content
 */

.todo-cell-content {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	border-bottom: 1px solid #cfd8dc;
	transform: translate3d(0,0,0);
}


:host(:last-of-type) .todo-cell-content,
todo-item:last-of-type .todo-cell-content {
	border-bottom: none;
}

.todo-cell-content.js-av .todo-cell-av,
.todo-cell-content:hover:not(.js-edit) .todo-cell-av {
	transform: translate3d(0, 0, 0);
	pointer-events: auto;
}


/**
 * Label
 */

.todo-cell-label {
	width: 100%;
	transition: width .25s ease-in-out;
}

.todo-cell-label > input {
	width: 100%;
	padding: 0;
	margin-bottom: 4px;
	box-sizing: border-box;
	background-color: transparent;
	color: #37474f;
	border: none;
	outline: 0;
	font-size: 18px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-cell-label > input::-webkit-input-placeholder {
	color: #eceff1;
}

.todo-cell-label > input::-moz-placeholder {
	color: #eceff1;
}

.todo-cell-label > input:-ms-input-placeholder {
	color: #eceff1;
}

.todo-cell-label > input:-moz-placeholder {
	color: #eceff1;
}

.js-completed .todo-cell-label > input {
	color: #90a4ae;
	cursor: no-drop;
}

.todo-cell-label > input:focus {
	text-overflow: clip;
}

.todo-cell-label > small {
	font-size: 12px;
	color: #cfd8dc;
	display: block;
	font-style: italic;
	font-weight: 300;
}


/**
 * Accessory View (Edit/Delete)
 */
 
.todo-cell-av {
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	height: 58px;
	list-style: none;
	background-color: #eceff1;
	border-left: 1px solid #cfd8dc;
	transition: transform .25s ease-in-out;
	pointer-events: none;
}

@media (max-width: 599px) {
	
	.todo-cell-av {
		width: calc(85vw * 0.15);
		transform: translate3d(calc(85vw * 0.15 + 1px), 0, 0);
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	
	.todo-cell-av {
		width: calc(55vw * 0.15);
		transform: translate3d(calc(55vw * 0.15 + 1px), 0, 0);
	}
}

@media (min-width: 960px) and (max-width: 1199px) {
	
	.todo-cell-av {
		width: calc(40vw * 0.15);
		transform: translate3d(calc(40vw * 0.15 + 1px), 0, 0);
	}
}

@media (min-width: 1200px) {
	
	.todo-cell-av {
		width: calc(35vw * 0.125);
		transform: translate3d(calc(35vw * 0.125 + 1px), 0, 0);
	}
}

.todo-cell-av:before,
.todo-cell-av:after {
	content: " ";
	display: table;
}

.todo-cell-av:after {
	clear: both;
}

.todo-cell-av > li {
	display: block;
	float: left;
	padding-top: 17px;
	padding-bottom: 17px;
	height: 58px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}


/**
 * Button
 */

.todo-cell-av button {
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
	fill: #90a4ae;
	transition: fill .15s ease-in-out;
}

.todo-cell-av-delete button:focus,
.todo-cell-av-delete button:hover {
	fill: #ef5350;
}