<form
	class="todo-cell"
	[ng-class]="{ 'js-complete': model.completed }"
	#todo="form"
	novalidate>
	<div class="todo-cell-control">
		<checkbox ng-control="status" [(ng-model)]="model.completed" (update)="onStatusChange($event)"></checkbox>
	</div>
	<div class="todo-cell-content" [ng-class]="{ 'js-edit-mode': isEditMode }">
		<div class="todo-cell-content-input">
			<label for="name" class="sr-only">Name/Title</label>
			<input #input type="text" id="name" name="name" ng-control="title" [(ng-model)]="model.name" (change)="onNameChange($event.target.value)" (keyup.enter)="toggleEditMode($event, input)" [disabled]="model.completed" placeholder="Name/Title" autocomplete="off">
		</div>
		<div class="todo-cell-content-text">{{model.name}}</div>
	</div>
	<div class="todo-cell-av">
		<ul class="list-unstyled">
			<li>
				<a class="todo-cell-av-edit" (click)="toggleEditMode($event, input)">
					<glyph src="{{ isEditMode ? 'assets/glyphs/pencil-off.svg' : 'assets/glyphs/pencil.svg'}}"></glyph>
				</a>
			</li>
			<li>
				<a href="#" class="todo-cell-av-delete" (click)="remove($event)">
					<glyph src="assets/glyphs/delete.svg"></glyph>
				</a>
			</li>
		</ul>
	</div>
</form>