<md-card class="change-form">
	<md-card-content>
		<form #change="ngForm"
			  (ngSubmit)="submit()"
			  novalidate>
			<div class="change-fields">
				<md-input type="email"
						  ngControl="email"
						  #email="ngForm"
						  [(ngModel)]="credentials.email"
						  [dividerColor]="email.dirty && !email.valid ? 'accent' : 'primary'"
						  [disabled]="isChanging"
						  placeholder="Email"
						  required>
					<md-hint *ngIf="email.dirty && email.errors && email.errors.required" align="start">
						Email is required.
					</md-hint>
				</md-input>
			</div>
			<div class="change-fields">
				<md-input type="password"
						  ngControl="oldPassword"
						  #oldPassword="ngForm"
						  [(ngModel)]="credentials.oldPassword"
						  [dividerColor]="oldPassword.dirty && !oldPassword.valid ? 'accent' : 'primary'"
						  [disabled]="isChanging"
						  placeholder="Current password"
						  required>
					<md-hint *ngIf="oldPassword.dirty && oldPassword.errors && oldPassword.errors.required" align="start">
						Current password is required.
					</md-hint>
				</md-input>
			</div>
			<div class="change-fields">
				<md-input type="password"
						  ngControl="newPassword"
						  #newPassword="ngForm"
						  [(ngModel)]="credentials.newPassword"
						  [dividerColor]="newPassword.dirty && !newPassword.valid ? 'accent' : 'primary'"
						  [disabled]="isChanging"
						  placeholder="New password"
						  required>
					<md-hint *ngIf="newPassword.dirty && newPassword.errors && newPassword.errors.required" align="start">
						A new password is required.
					</md-hint>
				</md-input>
			</div>
			<div class="change-fields">
				<md-input type="password"
						  ngControl="retypeNewPassword"
						  #retypeNewPassword="ngForm"
						  [dividerColor]="retypeNewPassword.dirty && !retypeNewPassword.valid ? 'accent' : 'primary'"
						  [disabled]="isChanging"
						  placeholder="Retype new password"
						  required
						  equalTo="newPassword">
					<md-hint *ngIf="retypeNewPassword.dirty && retypeNewPassword.errors && retypeNewPassword.errors.equalTo" align="start">
						Please make sure the new password and retyped new password are the same.
					</md-hint>
					<md-hint *ngIf="retypeNewPassword.dirty && retypeNewPassword.errors && retypeNewPassword.errors.required" align="start">
						Please retype your new password.
					</md-hint>
				</md-input>
			</div>

			<div class="clearfix">
				<button type="submit"
						md-raised-button
						color="primary"
						[disabled]="!change.form.valid || isChanging"
						class="pull-right">
					Change password
				</button>
				<div class="pull-left">
					<a [routerLink]="['../Todos']">
						Back
					</a>
				</div>
			</div>
		</form>
	</md-card-content>
</md-card>


<div
	*ngIf="isChangeAttemptFailed"
	class="alert alert-danger center-block"
	role="alert">
	{{ error || 'Could not change your password, try again later.' }}
</div>

<div
	*ngIf="isChangeAttemptSuccessful"
	class="alert alert-success center-block"
	role="alert">
	Successfuly changed your password.
</div>
