<form
	class="reset-form center-block"
	#reset="ngForm"
	*ngIf="!isResetAttemptSuccessful"
	(ngSubmit)="submit()"
	novalidate>
	<fieldset class="form-group">
		<label for="email" class="sr-only">Email</label>
		<input type="email" class="form-control" id="email" name="email" ngControl="email" [(ngModel)]="credentials.email" [disabled]="isResetting" placeholder="Email" autocomplete="off" required>
	</fieldset>
	<button type="submit" class="btn btn-primary btn-block" [disabled]="!reset.form.valid || isResetting">
		Reset
	</button>
	<div class="text-right">
		<a [routerLink]="['../Login']">Back</a>
	</div>
</form>

<div
	*ngIf="isResetAttemptSuccessful"
	class="alert alert-success center-block"
	role="alert">
	Your password was successfully reset.
	You will receive an email with a temporary password which you can use to login.
	Head over to <a [routerLink]="['../Login']">login</a>.
</div>
<div
	*ngIf="isResetAttemptFailed"
	class="alert alert-danger center-block"
	role="alert">
	{{ error || 'Could not reset your password, try again later.' }}
</div>