<md-card class="reset-form">
	<md-card-content>
		<form #reset="ngForm"
			  *ngIf="!isResetAttemptSuccessful"
			  (ngSubmit)="submit()"
			  novalidate>
			<div class="reset-fields">
				<md-input type="email" ngControl="email" [(ngModel)]="credentials.email" [disabled]="isResetting" placeholder="Email" required></md-input>
			</div>

			<div class="clearfix">
				<button type="submit"
						md-raised-button
						color="primary"
						[disabled]="!reset.form.valid || isResetting"
						class="pull-right">
					Reset
				</button>
				<div class="pull-left">
					<a [routerLink]="['../Login']">Back</a>
				</div>
			</div>
		</form>
	</md-card-content>
</md-card>


<div
	*ngIf="isResetAttemptSuccessful"
	class="alert alert-success center-block"
	role="alert">
	Your password was successfully reset.
	You will receive an email with a temporary password which you can use to login.
	Head over to <a [routerLink]="['../Login']">login</a>.
</div>
<div
	*ngIf="isResetAttemptFailed"
	class="alert alert-danger center-block"
	role="alert">
	{{ error || 'Could not reset your password, try again later.' }}
</div>
