// Normalize browser styling
// https://necolas.github.io/normalize.css
@import "~normalize.css";


/**
 * [1] Controls the display of the default callout shown when you touch and hold a touch target,
 * ref at https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout.
 * [2] Ensure the page always fills at least the entire height of the viewport.
 * [3] Prevent iOS text size adjust after orientation change, without disabling user zoom
 * [4] Fonts on OSX will look more consistent with other systems that do not render text using sub-pixel anti-aliasing.
 */
html,
body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none; // [1]
    -webkit-text-size-adjust: 100%; // [3]
    -ms-text-size-adjust: 100%; // [3]
    -webkit-font-smoothing: antialiased; // [4]
    -moz-osx-font-smoothing: grayscale; // [4]
    min-height: 100vh; // [2]
}

body {
    // Set typeface
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    // Set box model
    display: flex;
    flex-direction: column;
}

// Do not highlight non-tabable elements
[tabindex='-1']:focus {
    outline: none;
}


// Load the Material theme
@import "./app/core/theme";
// Some CSS utility classes
@import "./app/core/utils";
