@mixin spinner-size($size: 24px) {
    @include size($size);
    ::ng-deep svg {
        @include size($size);
    }
}

@mixin size($size: 24px) {
    width: $size !important;
    height: $size !important;
}

@mixin fullscreen() {
    display: flex;
    flex-direction: column;
    flex: 1;
}
