@import "variables";

/**
 * Box model
 */
// Margins
.rj-margin-right {
    margin-right: $margin !important;
}
.rj-margin-top {
    margin-top: $margin !important;
}
.rj-margin-bottom {
    margin-bottom: $margin !important;
}
.rj-margin-left {
    margin-left: $margin !important;
}

// Padding
.rj-padding-left {
    padding-left: $padding;
}
.rj-padding-right {
    padding-right: $padding;
}
.rj-padding {
    padding: $padding;
}

/**
 * Misc
 */
// Visually hide an element
.rj-hidden {
    visibility: hidden;
}

// Fix form fields width
.rj-fix-field-width {
    &.mat-form-field {
        width: auto;
    }
}
